<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/41aa7be9-f364-4a89-af1d-aa1070c1f09e/resourceGroups/Ecommerce/providers/Microsoft.ContainerRegistry/registries/myecommerce</ResourceId>
    <ResourceName>myecommerce</ResourceName>
    <ResourceGroup>Ecommerce</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://myecommerce.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f57e33fb-cdb3-6f39-453c-b2f68a5dc768</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>